In [2]:
import numpy as np
import pandas as pd
import sklearn
import matplotlib.pyplot as plt
import unittest

%matplotlib inline
%load_ext autoreload
%autoreload 2

plt.rcParams.update({'font.size': 14})
np.random.seed(42)
test = unittest.TestCase()

In [1]:

import sklearn.datasets
import warnings

# Load data we'll work with - Boston housing dataset
# We'll use sklearn's built-in data
with warnings.catch_warnings():
    warnings.simplefilter("ignore")
    
    ds_boston = sklearn.datasets.load_boston()

feature_names = list(ds_boston.feature_names)

n_features = len(feature_names)
x, y = ds_boston.data, ds_boston.target
n_samples = len(y)
print(f'Loaded {n_samples} samples')

Loaded 506 samples

In [3]:

# Load into a pandas dataframe and show some samples
df_boston = pd.DataFrame(data=x, columns=ds_boston.feature_names)
df_boston = df_boston.assign(MEDV=y)
df_boston.head(10).style.background_gradient(subset=['MEDV'], high=1.)

In [20]:
df_boston.loc[:, df_boston.columns != 'MEDV' ].corrwith(df_boston['MEDV']).sort_values(key=abs, ascending=False)

LSTAT     -0.737663
RM         0.695360
PTRATIO   -0.507787
INDUS     -0.483725
TAX       -0.468536
NOX       -0.427321
CRIM      -0.388305
RAD       -0.381626
AGE       -0.376955
ZN         0.360445
B          0.333461
DIS        0.249929
CHAS       0.175260
dtype: float64

In [36]:
df_boston[['LSTAT', 'RM', 'MEDV']]

     LSTAT     RM  MEDV
0     4.98  6.575  24.0
1     9.14  6.421  21.6
2     4.03  7.185  34.7
3     2.94  6.998  33.4
4     5.33  7.147  36.2
..     ...    ...   ...
501   9.67  6.593  22.4
502   9.08  6.120  20.6
503   5.64  6.976  23.9
504   6.48  6.794  22.0
505   7.88  6.030  11.9

[506 rows x 3 columns]